<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>

    <%- include('./partials/nav') %>
    <div class="container mt-3 row row-cols-4">
      <% blogs.forEach(blog => { %>
        <div class="col">
      <div class="card col" style="width: 18rem">
        <img src="<%= blog.coverImageUrl %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <a href="/blog/<%=blog._id %>" class="btn btn-primary">View</a>
        </div>
      </div>
      </div>
      <% }) %>
    </div>
    <%- include('./partials/script') %>
  </body>
</html>
